@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    5200 N Lake Rd<br />
    Merced, CA 95343<br />
    <abbr title="Phone">P:</abbr>
    209.228.4400
</address>

<address>
    <strong>Web Support:</strong>   <a href="mailto:DLohmann@ucmerced.edu">DLohmann@ucmerced.edu</a><br />
    <strong>Course Instruction:</strong> <a href="mailto:hstepanian@ucmerced.edu">hstepanian@ucmerced.edu</a>
</address>
<a href="~/Views/Home/About.cshtml">~/Views/Home/About.cshtml</a>